.action {
  width: 95%;
  font-size: 18px;
  text-align: left
}

.over_drive_logo {
  height: 64px;
}

.permissions-box {
  position: absolute;
  /*width: 256px;
  height: 256px;*/
  left: 0;
  top: 0
}

.counts {
  font-size: 18px;
  color: #767676;
  padding: 8px
}