.action {
  width: 95%;
  font-size: 18px;
  text-align: left
}

.over_drive_logo {
  height: 64px;
}

.permissions-box {
  position: absolute;
  /*width: 256px;
  height: 256px;*/
  left: 0;
  top: 0
}

.counts {
  font-size: 18px;
  color: #767676;
  padding: 8px
}

.tutorial {
  border: 1px solid black;
  background: white;
}

#tut0 {
  display: none;
  position: absolute;
  width: 40%;
  height: 100px;
  top: 45%;
  left: 50%;
  margin: -10% -10% 0 -30%;
}

.tutorial p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}