.action {
  width: 95%;
  font-size: 18px;
  text-align: left
}

.over_drive_logo {
  height: 64px;
}

.permissions-box {
  position: absolute;
  /*width: 256px;
  height: 256px;*/
  left: 0;
  top: 0
}

.counts {
  font-size: 18px;
  color: #767676;
  padding: 8px
}

#overlay {
  display: none;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:black;
  opacity:0.4;
  z-index:1001;
}

.tutorial {
  border: 1px solid black;
  background: white;
  display: none;
  z-index: 1003;
  margin: -10% -10% 0 -30%;
}

#tut0 {
  position: absolute;
  width: 40%;
  height: 13%;
  top: 45%;
  left: 50%;
}

#tut1 {
  position: absolute;
  width: 40%;
  height: 10%;
  top: 42%;
  left: 83%;
}

#tut2 {
  position: absolute;
  width: 40%;
  height: 10%;
  top: 26%;
  left: 83%;
}

#tut3 {
  position: absolute;
  width: 40%;
  height: 10%;
  top: 20%;
  left: 83%;
}

#tut4 {
  position: absolute;
  width: 40%;
  height: 10%;
  top: 42%;
  left: 35%;
}

#tut5 {
  position: absolute;
  width: 40%;
  height: 10%;
  top: 26%;
  left: 35%;
}

.tutorial p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#close-tut {
  display: none;
  z-index: 1003;
  color: red;
}

#close-tut:hover {
  color: #990c1c;
}